
.msg{
    width: 60px;
    height: 60%;
    margin: 0 auto;
}
z
.feature{
    width: 20%;
    height: 23%;
    padding-left: 15px;
    padding-top: 4px;
}    /* Basic styling for the form */
    form {
            max-width: 400px;
            margin: 0 auto;
        }
        label {
            display: block;
            margin-bottom: 5px;
        }
        input[type="text"],
        input[type="email"],
        input[type="tel"],
        textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        input[type="submit"] {
            background-color: #1c43e2;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            width: 100%;
        }
        input[type="submit"]:hover {
            background-color: #1c43e2;
        }
